# Final Dataset

This notebook is to merge the dataset containing control variables and outcome variables.

In [115]:
import pandas as pd

### Control Variable Dataset

In [116]:
# control_df = pd.read_csv('https://raw.githubusercontent.com/MIDS-at-Duke/unifying-data-science-2023-project-ids701_team2/main/20_intermediate_files/'
#                          'control_variables_cleaned.csv?token=GHSAT0AAAAAACAOUZQOSS7AOVR54TEVLKC4ZBYYM6Q')
control_df = pd.read_csv('../20_intermediate_files/control_variables_cleaned.csv')

In [117]:
control_df.shape

(663, 17)

In [118]:
control_df.columns

Index(['state', 'Children 0-18', 'Adults 19-25', 'Adults 26-34',
       'Adults 35-54', 'Adults 55-64', '65+', 'year',
       'Total People Experiencing Homelessness', 'gdp',
       'American Indian or Alaska Native', 'Asian or Pacific Islander',
       'Black or African American', 'White', 'gini', 'international_migration',
       'unemployment_rate'],
      dtype='object')

In [119]:
print('The year range is from {} to {}'.format(control_df['year'].min(), control_df['year'].max()))

The year range is from 2008 to 2020

In [120]:
control_df.head(10)

,state,Children 0-18,Adults 19-25,Adults 26-34,Adults 35-54,Adults 55-64,65+,year,Total People Experiencing Homelessness,gdp,American Indian or Alaska Native,Asian or Pacific Islander,Black or African American,White,gini,international_migration,unemployment_rate
0,Alabama,0.258,0.095,0.113,0.282,0.118,0.135,2008,5387,174526.3,33518,58975,1259177,3366536,0.47,5409,0.050
1,Alaska,0.282,0.113,0.122,0.289,0.120,0.074,2008,1646,55122.5,117376,46039,30075,493965,0.40,1197,0.064
2,Arizona,0.279,0.090,0.126,0.266,0.105,0.134,2008,12488,262926.0,346539,209252,294617,5429954,0.45,27031,0.060
3,Arkansas,0.263,0.090,0.114,0.276,0.117,0.141,2008,3255,99706.8,27242,42091,458375,2346846,0.46,3642,0.054
4,California,0.272,0.101,0.126,0.288,0.102,0.112,2008,136531,1944695.3,669667,5281970,2662354,27990346,0.47,167173,0.072
5,Colorado,0.259,0.093,0.132,0.300,0.113,0.103,2008,14747,258871.7,84116,159295,231792,4414527,0.46,13248,0.048
6,Connecticut,0.249,0.082,0.102,0.314,0.119,0.134,2008,4627,238936.8,18438,141482,401643,2984016,0.49,11391,0.056
7,Delaware,0.257,0.090,0.109,0.288,0.121,0.136,2008,933,55459.8,5901,29849,197813,650311,0.45,2057,0.049
8,District of Columbia,0.209,0.111,0.161,0.285,0.115,0.118,2008,6044,99496.5,3690,22734,318392,235420,NaN,2134,NaN
9,Florida,0.233,0.085,0.108,0.281,0.119,0.174,2008,50158,763341.5,95642,512331,3086395,14832937,0.47,87821,0.063

### Crime Index Dataset

In [121]:
# crime = pd.read_csv('https://raw.githubusercontent.com/MIDS-at-Duke/unifying-data-science-2023-project-ids701_team2/main/00_source_data/crime/'
#                     'crime_master.csv?token=GHSAT0AAAAAACAOUZQPTWA2BQCIHRCA3DPKZBYYOGA')
crime = pd.read_csv('../00_source_data/crime/crime_master.csv')

In [122]:
crime.shape

(2986, 14)

In [123]:
crime.columns

Index(['Unnamed: 0', 'Year', 'State', 'Population', 'Index', 'Violent',
       'Property', 'Murder', 'Rape', 'Robbery', 'Aggravated Assault',
       'Burglary', 'Larceny-Theft', 'Vehicle Theft'],
      dtype='object')

In [124]:
print('The year range is from {} to {}'.format(crime['Year'].min(), crime['Year'].max()))

The year range is from 1960 to 2019

In [125]:
crime.head(10)

,Unnamed: 0,Year,State,Population,Index,Violent,Property,Murder,Rape,Robbery,Aggravated Assault,Burglary,Larceny-Theft,Vehicle Theft
0,0,1960,AL,3266740,39920,6097,33823,406,281,898,4512,11626,19344,2853
1,1,1961,AL,3302000,38105,5564,32541,427,252,630,4255,11205,18801,2535
2,2,1962,AL,3358000,41112,5283,35829,316,218,754,3995,11722,21306,2801
3,3,1963,AL,3347000,44636,6115,38521,340,192,828,4755,12614,22874,3033
4,4,1964,AL,3407000,53550,7260,46290,316,397,992,5555,15898,26713,3679
5,5,1965,AL,3462000,55131,6916,48215,395,367,992,5162,16398,28115,3702
6,6,1966,AL,3517000,61838,8098,53740,384,341,1124,6249,18551,30583,4606
7,7,1967,AL,3540000,65527,8448,57079,415,371,1167,6495,20227,31682,5170
8,8,1968,AL,3566000,71285,8288,62997,421,396,1462,6009,22403,34508,6086
9,9,1969,AL,3531000,75090,8842,66248,485,494,1448,6415,23559,36644,6045

In [126]:
crime = crime.drop(columns=['Unnamed: 0'])

### State Information

In [127]:
state_abr = pd.read_excel("/Users/wuyuyou/Desktop/unifying-data-science-2023-project-ids701_team2/00_source_data/50+States.xlsx")

In [128]:
state_abr

             State Abbr   State Capital     Region
0          Alabama   AL      Montgomery      South
1           Alaska   AK          Juneau       West
2          Arizona   AZ         Phoenix       West
3         Arkansas   AR     Little Rock      South
4       California   CA      Sacramento       West
5         Colorado   CO          Denver       West
6      Connecticut   CT        Hartford  Northeast
7         Delaware   DE           Dover  Northeast
8          Florida   FL     Tallahassee      South
9          Georgia   GA         Atlanta      South
10          Hawaii   HI        Honolulu       West
11           Idaho   ID           Boise       West
12        Illinois   IL     Springfield    Midwest
13         Indiana   IN    Indianapolis    Midwest
14            Iowa   IA      Des Moines    Midwest
15          Kansas   KS          Topeka    Midwest
16        Kentucky   KY       Frankfort      South
17       Louisiana   LA     Baton Rouge      South
18           Maine   ME         Augusta  Northeast
19        Maryland   MD       Annapolis  Northeast
20   Massachusetts   MA          Boston  Northeast
21        Michigan   MI         Lansing    Midwest
22       Minnesota   MN        St. Paul    Midwest
23     Mississippi   MS         Jackson      South
24        Missouri   MO  Jefferson City    Midwest
25         Montana   MT          Helena       West
26        Nebraska   NE         Lincoln    Midwest
27          Nevada   NV     Carson City       West
28   New Hampshire   NH         Concord  Northeast
29      New Jersey   NJ         Trenton  Northeast
30      New Mexico   NM        Santa Fe       West
31        New York   NY          Albany  Northeast
32  North Carolina   NC         Raleigh      South
33    North Dakota   ND        Bismarck    Midwest
34            Ohio   OH        Columbus    Midwest
35        Oklahoma   OK   Oklahoma City      South
36          Oregon   OR           Salem       West
37    Pennsylvania   PA      Harrisburg  Northeast
38    Rhode Island   RI      Providence  Northeast
39  South Carolina   SC        Columbia      South
40    South Dakota   SD          Pierre    Midwest
41       Tennessee   TN       Nashville      South
42           Texas   TX          Austin      South
43            Utah   UT  Salt Lake City       West
44         Vermont   VT      Montpelier  Northeast
45        Virginia   VA        Richmond      South
46      Washington   WA         Olympia       West
47   West Virginia   WV      Charleston      South
48       Wisconsin   WI         Madison    Midwest
49         Wyoming   WY        Cheyenne       West

In [129]:
state_abr.rename(columns={'Abbr': 'State_Abbr'}, inplace=True)
control_df = control_df.merge(state_abr, left_on='state', right_on='State')

In [130]:
control_df.isnull().sum()

state                                     0
Children 0-18                             0
Adults 19-25                              0
Adults 26-34                              0
Adults 35-54                              0
Adults 55-64                              0
65+                                       0
year                                      0
Total People Experiencing Homelessness    0
gdp                                       0
American Indian or Alaska Native          0
Asian or Pacific Islander                 0
Black or African American                 0
White                                     0
gini                                      0
international_migration                   0
unemployment_rate                         0
State                                     0
State_Abbr                                0
State Capital                             0
Region                                    0
dtype: int64

In [131]:
control_df.drop(columns=['State'], inplace=True)

In [132]:
final_df = control_df.merge(crime, left_on=['State_Abbr', 'year'], right_on=['State', 'Year'])

In [133]:
final_df.shape

(579, 33)

In [134]:
final_df.columns

Index(['state', 'Children 0-18', 'Adults 19-25', 'Adults 26-34',
       'Adults 35-54', 'Adults 55-64', '65+', 'year',
       'Total People Experiencing Homelessness', 'gdp',
       'American Indian or Alaska Native', 'Asian or Pacific Islander',
       'Black or African American', 'White', 'gini', 'international_migration',
       'unemployment_rate', 'State_Abbr', 'State Capital', 'Region', 'Year',
       'State', 'Population', 'Index', 'Violent', 'Property', 'Murder', 'Rape',
       'Robbery', 'Aggravated Assault', 'Burglary', 'Larceny-Theft',
       'Vehicle Theft'],
      dtype='object')

In [135]:
final_df.head(10)

,state,Children 0-18,Adults 19-25,Adults 26-34,Adults 35-54,Adults 55-64,65+,year,Total People Experiencing Homelessness,gdp,...,Index,Violent,Property,Murder,Rape,Robbery,Aggravated Assault,Burglary,Larceny-Theft,Vehicle Theft
0,Alabama,0.258,0.095,0.113,0.282,0.118,0.135,2008,5387,174526.3,...,211401,21109,190292,357,1618,7344,11790,50379,126461,13452
1,Alabama,0.257,0.093,0.116,0.277,0.120,0.137,2009,6080,170930.9,...,199201,21194,178007,322,1504,6265,13103,48844,118072,11091
2,Alabama,0.254,0.094,0.113,0.276,0.126,0.138,2010,6046,177249.2,...,187191,18363,168828,275,1355,4864,11869,42484,115564,10780
3,Alabama,0.251,0.094,0.112,0.274,0.129,0.140,2011,5558,183916.6,...,193358,20166,173192,299,1370,4906,13591,51119,111411,10662
4,Alabama,0.249,0.095,0.112,0.270,0.130,0.144,2012,5209,189245.5,...,190571,21693,168878,342,1296,5020,15035,47481,111523,9874
5,Alabama,0.248,0.094,0.113,0.265,0.131,0.149,2013,4689,194786.9,...,182669,20834,161835,346,1449,4645,13788,42410,108862,10563
6,Alabama,0.243,0.094,0.113,0.263,0.133,0.154,2014,4561,197406.9,...,174814,20727,154087,276,1425,4702,13744,39723,104223,10141
7,Alabama,0.243,0.090,0.115,0.261,0.134,0.158,2015,3970,202372.4,...,167742,22957,144785,348,1449,4612,15960,35265,99182,10338
8,Alabama,0.241,0.090,0.115,0.258,0.135,0.161,2016,4111,207368.4,...,169137,25878,143259,407,1915,4687,18869,34045,97498,11716
9,Alabama,0.240,0.091,0.113,0.255,0.136,0.165,2017,3793,214606.3,...,169243,25469,143774,419,2001,4233,18816,31270,99707,12797

In [136]:
final_df['State'].value_counts()

AK    13
AL    12
NV    12
NH    12
NJ    12
NM    12
NY    12
NC    12
ND    12
OH    12
OK    12
OR    12
PA    12
RI    12
SC    12
SD    12
TN    12
TX    12
VT    12
VA    12
WA    12
WV    12
WI    12
NE    12
MT    12
MO    12
MS    12
AZ    12
AR    12
CA    12
CO    12
CT    12
DE    12
FL    12
GA    12
HI    12
ID    12
IL    12
IN    12
IA    12
KY    12
LA    12
ME    12
MD    12
MA    12
MI    12
MN    12
WY    12
UT     2
Name: State, dtype: int64

The year 2017 has a duplicated column in Alaska.

In [137]:
final_df[final_df['State']=='AK']

,state,Children 0-18,Adults 19-25,Adults 26-34,Adults 35-54,Adults 55-64,65+,year,Total People Experiencing Homelessness,gdp,...,Index,Violent,Property,Murder,Rape,Robbery,Aggravated Assault,Burglary,Larceny-Theft,Vehicle Theft
12,Alaska,0.282,0.113,0.122,0.289,0.120,0.074,2008,1646,55122.5,...,24576,4479,20097,27,445,644,3363,3232,15235,1630
13,Alaska,0.291,0.103,0.122,0.291,0.117,0.077,2009,1992,49957.8,...,24952,4424,20538,22,513,654,3235,3600,15251,1687
14,Alaska,0.287,0.094,0.125,0.292,0.125,0.077,2010,1863,53331.6,...,24796,4537,20259,31,533,594,3379,3105,15535,1619
15,Alaska,0.278,0.102,0.126,0.282,0.130,0.083,2011,2128,56896.3,...,23510,4416,19094,30,436,576,3374,2852,14854,1388
16,Alaska,0.270,0.106,0.129,0.278,0.134,0.085,2012,1913,58283.6,...,24449,4412,20037,30,583,630,3169,2950,15565,1522
17,Alaska,0.272,0.107,0.136,0.265,0.126,0.094,2013,1946,57247.7,...,25920,4709,21211,34,657,623,3127,2917,16599,1695
18,Alaska,0.272,0.109,0.131,0.261,0.131,0.096,2014,1784,56484.9,...,25018,4684,20334,41,553,629,3243,3150,15445,1739
19,Alaska,0.271,0.111,0.136,0.251,0.131,0.100,2015,1956,51490.9,...,26197,5391,20806,59,648,761,3671,3511,15249,2046
20,Alaska,0.272,0.102,0.142,0.251,0.132,0.103,2016,1940,50727.7,...,30842,5966,24876,52,1053,850,4011,4053,17766,3057
21,Alaska,0.271,0.090,0.138,0.259,0.130,0.113,2017,1845,53301.5,...,32337,6133,26204,62,863,951,4257,4171,17775,4258
22,Alaska,0.271,0.090,0.138,0.259,0.130,0.113,2017,1845,53301.5,...,32541,6338,26203,62,1074,952,4250,4167,17782,4254
23,Alaska,0.270,0.088,0.132,0.258,0.133,0.121,2018,2016,54899.6,...,30900,6555,24345,47,1212,896,4400,3985,16364,3996
24,Alaska,0.259,0.093,0.139,0.246,0.132,0.130,2019,1907,54728.2,...,27637,6343,21294,69,1088,826,4360,3563,15114,2617

In [138]:
final_df.drop_duplicates(subset=['State', 'year'], inplace=True)

Because it is difficult to maintain the crime data from Utah (need more data merge and cleaning process), here we decided to remove Utah and believe it would not affect our results. This is because currently, 24 states still keep death penalty and 23 states have abolished death penalty (3 states are in tricky state where they are discussing whether they will abolish death penalty or not). Utah happens to be a state with death penalty. As a result, even if we remove Utah, the dataset will still be quite balanced.

In [139]:
final_df = final_df[final_df['State']!='UT']

In [140]:
final_df.shape

(576, 33)

In [141]:
final_df[['State','year']].duplicated().sum()

0

### Clean up columns

In [142]:
final_df.drop(columns=['State_Abbr', 'Year', 'State Capital', 'Region'], inplace=True)

In [143]:
final_df.shape

(576, 29)

In [144]:
final_df.sample(10)

,state,Children 0-18,Adults 19-25,Adults 26-34,Adults 35-54,Adults 55-64,65+,year,Total People Experiencing Homelessness,gdp,...,Index,Violent,Property,Murder,Rape,Robbery,Aggravated Assault,Burglary,Larceny-Theft,Vehicle Theft
129,Hawaii,0.232,0.082,0.123,0.254,0.135,0.175,2016,7921,83914.4,...,47170,4417,42753,35,447,994,2769,6017,31082,5654
324,Nevada,0.235,0.083,0.131,0.262,0.126,0.163,2019,7169,182186.3,...,86735,15210,71525,143,2161,3286,9620,15510,44755,11260
344,New Jersey,0.237,0.086,0.114,0.282,0.134,0.148,2015,10098,563233.8,...,168580,22879,145701,363,1019,9729,11414,27960,105963,11778
39,Arkansas,0.260,0.091,0.111,0.270,0.124,0.143,2010,2762,101486.5,...,118531,14711,103820,134,1321,2369,10887,32463,65796,5561
107,Florida,0.211,0.081,0.115,0.251,0.136,0.206,2018,31030,1057255.4,...,567997,81980,486017,1107,8438,16884,55551,71933,372919,41165
446,Rhode Island,0.233,0.086,0.117,0.298,0.124,0.142,2009,1607,47702.2,...,30236,2678,27558,32,296,785,1565,5753,19403,2402
179,Iowa,0.247,0.089,0.115,0.245,0.135,0.169,2018,2749,191516.6,...,65327,8303,57024,70,1126,989,6118,12433,39498,5093
479,South Dakota,0.258,0.091,0.114,0.236,0.138,0.164,2018,1159,52299.3,...,18674,3483,15191,12,617,222,2632,2502,11237,1452
341,New Jersey,0.243,0.083,0.114,0.294,0.126,0.139,2012,13025,517195.9,...,207208,25727,181481,388,1035,11385,12919,42338,122662,16481
563,Wisconsin,0.234,0.090,0.115,0.258,0.144,0.160,2016,5685,314073.3,...,129399,17679,111720,229,1458,4706,10765,19425,82337,9958

In [145]:
abolish_year = { "Alaska": 1957, "Colorado": 2020, "Connecticut": 2012, 
                "Delaware": 2016, "Hawaii": 1957, "Illinois": 2011,
                "Iowa": 1965, "Maine": 1887, "Maryland": 2013, 
                "Massachusetts": 1984, "Michigan": 1847, "Minnesota": 1911,
                "New Hampshire": 2019, "New Jersey": 2007, "New Mexico": 2009,
                "New York": 2007, "North Dakota": 1973, "Rhode Island": 1984,
                "Vermont": 1972, "Virginia": 2021, "Washington": 2018,
                "West Virginia": 1965, "Wisconsin": 1853}

In [146]:
def abolish_year_func(row):
    if row['state'] in abolish_year.keys():
        if row['year'] > abolish_year[row['state']]:
            return 0
        else:
            return 1
    else:
        return 1

In [147]:
final_df['with_death_penalty'] = final_df.apply(abolish_year_func, axis=1)

In [148]:
final_df

,state,Children 0-18,Adults 19-25,Adults 26-34,Adults 35-54,Adults 55-64,65+,year,Total People Experiencing Homelessness,gdp,...,Violent,Property,Murder,Rape,Robbery,Aggravated Assault,Burglary,Larceny-Theft,Vehicle Theft,with_death_penalty
0,Alabama,0.258,0.095,0.113,0.282,0.118,0.135,2008,5387,174526.3,...,21109,190292,357,1618,7344,11790,50379,126461,13452,1
1,Alabama,0.257,0.093,0.116,0.277,0.120,0.137,2009,6080,170930.9,...,21194,178007,322,1504,6265,13103,48844,118072,11091,1
2,Alabama,0.254,0.094,0.113,0.276,0.126,0.138,2010,6046,177249.2,...,18363,168828,275,1355,4864,11869,42484,115564,10780,1
3,Alabama,0.251,0.094,0.112,0.274,0.129,0.140,2011,5558,183916.6,...,20166,173192,299,1370,4906,13591,51119,111411,10662,1
4,Alabama,0.249,0.095,0.112,0.270,0.130,0.144,2012,5209,189245.5,...,21693,168878,342,1296,5020,15035,47481,111523,9874,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
574,Wyoming,0.256,0.092,0.123,0.244,0.142,0.142,2015,798,38426.9,...,1300,11151,16,124,59,1054,1762,8797,592,1
575,Wyoming,0.255,0.089,0.121,0.245,0.141,0.150,2016,857,35879.0,...,1430,11460,20,150,59,1146,1771,8889,800,1
576,Wyoming,0.253,0.086,0.123,0.236,0.145,0.157,2017,873,36980.7,...,1358,10528,14,253,98,993,1556,8211,761,1
577,Wyoming,0.243,0.083,0.121,0.244,0.141,0.169,2018,639,39171.7,...,1235,10308,14,261,75,885,1551,7974,783,1
578,Wyoming,0.251,0.083,0.117,0.242,0.135,0.172,2019,548,39428.0,...,1258,9093,13,324,67,854,1396,6984,713,1

In [149]:
final_df['with_death_penalty'].value_counts()

1    373
0    203
Name: with_death_penalty, dtype: int64

In [150]:
final_df.loc[final_df['with_death_penalty']==0, 'state'].unique()

array(['Alaska', 'Connecticut', 'Delaware', 'Hawaii', 'Illinois', 'Iowa',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'New Jersey', 'New Mexico', 'New York', 'North Dakota',
       'Rhode Island', 'Vermont', 'Washington', 'West Virginia',
       'Wisconsin'], dtype=object)

In [151]:
final_df['state'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia',
       'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kentucky',
       'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan',
       'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska',
       'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

### Data Preparation

Index(['state', 'Children 0-18', 'Adults 19-25', 'Adults 26-34',
       'Adults 35-54', 'Adults 55-64', '65+', 'year',
       'Total People Experiencing Homelessness', 'gdp',
       'American Indian or Alaska Native', 'Asian or Pacific Islander',
       'Black or African American', 'White', 'gini', 'international_migration',
       'unemployment_rate', 
       'State', 'Population', 'Index', 'Violent', 'Property', 'Murder', 'Rape',
       'Robbery', 'Aggravated Assault', 'Burglary', 'Larceny-Theft',
       'Vehicle Theft']

Index here is the addition of Violent and Property Crime. Crime index usually refers to the crime propensity within a region and it's usually defined as crime per certain (100,000) populations.

Since we are mostly interested in the violent crime, which is defined by [FBI](https://ucr.fbi.gov/crime-in-the-u.s/2018/crime-in-the-u.s.-2018/topic-pages/violent-crime) that include rape and sexual assault, robbery, assault and murder, we have a column indicating the total number of violent crime cases.

In [152]:
final_df['Violent_Crimes'] = final_df['Violent'] + final_df['Murder'] + final_df['Robbery'] + final_df['Rape'] + final_df['Aggravated Assault']
final_df['Violent_Crime_Rate'] = final_df['Violent_Crimes'] / final_df['Population']

In [153]:
final_df.isnull().any()

state                                     False
Children 0-18                             False
Adults 19-25                              False
Adults 26-34                              False
Adults 35-54                              False
Adults 55-64                              False
65+                                       False
year                                      False
Total People Experiencing Homelessness    False
gdp                                       False
American Indian or Alaska Native          False
Asian or Pacific Islander                 False
Black or African American                 False
White                                     False
gini                                      False
international_migration                   False
unemployment_rate                         False
State                                     False
Population                                False
Index                                     False
Violent                                   False
Property                                  False
Murder                                    False
Rape                                      False
Robbery                                   False
Aggravated Assault                        False
Burglary                                  False
Larceny-Theft                             False
Vehicle Theft                             False
with_death_penalty                        False
Violent_Crimes                            False
Violent_Crime_Rate                        False
dtype: bool

In [154]:
final_df.to_csv('../20_intermediate_files/final_df.csv', index=False)

Note: on the report, we also need to write that we ensure that states with the death penalty actually have [execution](https://deathpenaltyinfo.org/executions/executions-overview/executions-by-state-and-year) and states without the death penalty do not enforce any death penalty.

In [155]:
final_df.set_index(['state', 'year'], inplace=True)

In [156]:
final_df

              Children 0-18  Adults 19-25  Adults 26-34  Adults 35-54  \
state   year
Alabama 2008          0.258         0.095         0.113         0.282
        2009          0.257         0.093         0.116         0.277
        2010          0.254         0.094         0.113         0.276
        2011          0.251         0.094         0.112         0.274
        2012          0.249         0.095         0.112         0.270
...                     ...           ...           ...           ...
Wyoming 2015          0.256         0.092         0.123         0.244
        2016          0.255         0.089         0.121         0.245
        2017          0.253         0.086         0.123         0.236
        2018          0.243         0.083         0.121         0.244
        2019          0.251         0.083         0.117         0.242

              Adults 55-64    65+  Total People Experiencing Homelessness  \
state   year
Alabama 2008         0.118  0.135                                    5387
        2009         0.120  0.137                                    6080
        2010         0.126  0.138                                    6046
        2011         0.129  0.140                                    5558
        2012         0.130  0.144                                    5209
...                    ...    ...                                     ...
Wyoming 2015         0.142  0.142                                     798
        2016         0.141  0.150                                     857
        2017         0.145  0.157                                     873
        2018         0.141  0.169                                     639
        2019         0.135  0.172                                     548

                   gdp  American Indian or Alaska Native  \
state   year
Alabama 2008  174526.3                             33518
        2009  170930.9                             34844
        2010  177249.2                             35759
        2011  183916.6                             35697
        2012  189245.5                             35831
...                ...                               ...
Wyoming 2015   38426.9                             17559
        2016   35879.0                             17639
        2017   36980.7                             17645
        2018   39171.7                             17874
        2019   39428.0                             17857

              Asian or Pacific Islander  ...  Murder  Rape  Robbery  \
state   year                             ...
Alabama 2008                      58975  ...     357  1618     7344
        2009                      62645  ...     322  1504     6265
        2010                      65216  ...     275  1355     4864
        2011                      67196  ...     299  1370     4906
        2012                      70718  ...     342  1296     5020
...                                 ...  ...     ...   ...      ...
Wyoming 2015                       6973  ...      16   124       59
        2016                       7231  ...      20   150       59
        2017                       7507  ...      14   253       98
        2018                       7794  ...      14   261       75
        2019                       7827  ...      13   324       67

              Aggravated Assault  Burglary Larceny-Theft  Vehicle Theft  \
state   year
Alabama 2008               11790     50379        126461          13452
        2009               13103     48844        118072          11091
        2010               11869     42484        115564          10780
        2011               13591     51119        111411          10662
        2012               15035     47481        111523           9874
...                          ...       ...           ...            ...
Wyoming 2015                1054      1762          8797            592
        2016                1146      1771          8889            800
        2017                 993      1556          8211            761
        2018                 885      1551          7974            783
        2019                 854      1396          6984            713

              with_death_penalty  Violent_Crimes  Violent_Crime_Rate
state   year
Alabama 2008                   1           42218            0.009026
        2009                   1           42388            0.009002
        2010                   1           36726            0.007675
        2011                   1           40332            0.008396
        2012                   1           43386            0.009006
...                          ...             ...                 ...
Wyoming 2015                   1            2553            0.004353
        2016                   1            2805            0.004791
        2017                   1            2716            0.004691
        2018                   1            2470            0.004276
        2019                   1            2516            0.004347

[576 rows x 30 columns]