# Final Dataset

This notebook is to merge the dataset containing control variables and outcome variables.

In [47]:
import pandas as pd

### Control Variable Dataset

In [49]:
control_df = pd.read_csv('https://raw.githubusercontent.com/MIDS-at-Duke/unifying-data-science-2023-project-ids701_team2/main/20_intermediate_files/control_variables_cleaned.csv?token=GHSAT0AAAAAACAOUZQPYWT3K27YIA75UDPSZBVBFIA')

In [50]:
control_df.shape

(663, 17)

In [51]:
control_df.columns

Index(['state', 'Children 0-18', 'Adults 19-25', 'Adults 26-34',
       'Adults 35-54', 'Adults 55-64', '65+', 'year',
       'Total People Experiencing Homelessness', 'gdp',
       'American Indian or Alaska Native', 'Asian or Pacific Islander',
       'Black or African American', 'White', 'gini', 'international_migration',
       'unemployment_rate'],
      dtype='object')

In [52]:
print('The year range is from {} to {}'.format(control_df['year'].min(), control_df['year'].max()))

The year range is from 2008 to 2020

In [53]:
control_df.head(10)

,state,Children 0-18,Adults 19-25,Adults 26-34,Adults 35-54,Adults 55-64,65+,year,Total People Experiencing Homelessness,gdp,American Indian or Alaska Native,Asian or Pacific Islander,Black or African American,White,gini,international_migration,unemployment_rate
0,Alabama,0.258,0.095,0.113,0.282,0.118,0.135,2008,5387,174526.3,33518,58975,1259177,3366536,0.47,5409,0.050
1,Alaska,0.282,0.113,0.122,0.289,0.120,0.074,2008,1646,55122.5,117376,46039,30075,493965,0.40,1197,0.064
2,Arizona,0.279,0.090,0.126,0.266,0.105,0.134,2008,12488,262926.0,346539,209252,294617,5429954,0.45,27031,0.060
3,Arkansas,0.263,0.090,0.114,0.276,0.117,0.141,2008,3255,99706.8,27242,42091,458375,2346846,0.46,3642,0.054
4,California,0.272,0.101,0.126,0.288,0.102,0.112,2008,136531,1944695.3,669667,5281970,2662354,27990346,0.47,167173,0.072
5,Colorado,0.259,0.093,0.132,0.300,0.113,0.103,2008,14747,258871.7,84116,159295,231792,4414527,0.46,13248,0.048
6,Connecticut,0.249,0.082,0.102,0.314,0.119,0.134,2008,4627,238936.8,18438,141482,401643,2984016,0.49,11391,0.056
7,Delaware,0.257,0.090,0.109,0.288,0.121,0.136,2008,933,55459.8,5901,29849,197813,650311,0.45,2057,0.049
8,District of Columbia,0.209,0.111,0.161,0.285,0.115,0.118,2008,6044,99496.5,3690,22734,318392,235420,NaN,2134,NaN
9,Florida,0.233,0.085,0.108,0.281,0.119,0.174,2008,50158,763341.5,95642,512331,3086395,14832937,0.47,87821,0.063

### Crime Index Dataset

In [54]:
crime = pd.read_csv("https://raw.githubusercontent.com/MIDS-at-Duke/unifying-data-science-2023-project-ids701_team2/main/00_source_data/crime/crime_master.csv?token=GHSAT0AAAAAACAOUZQO4QD27TRTQIUDVKEOZBVBK7Q")

In [55]:
crime.shape

(2986, 14)

In [56]:
crime.columns

Index(['Unnamed: 0', 'Year', 'State', 'Population', 'Index', 'Violent',
       'Property', 'Murder', 'Rape', 'Robbery', 'Aggravated Assault',
       'Burglary', 'Larceny-Theft', 'Vehicle Theft'],
      dtype='object')

In [59]:
print('The year range is from {} to {}'.format(crime['Year'].min(), crime['Year'].max()))

The year range is from 1960 to 2019

In [73]:
crime.head(10)

,Year,State,Population,Index,Violent,Property,Murder,Rape,Robbery,Aggravated Assault,Burglary,Larceny-Theft,Vehicle Theft
0,1960,AL,3266740,39920,6097,33823,406,281,898,4512,11626,19344,2853
1,1961,AL,3302000,38105,5564,32541,427,252,630,4255,11205,18801,2535
2,1962,AL,3358000,41112,5283,35829,316,218,754,3995,11722,21306,2801
3,1963,AL,3347000,44636,6115,38521,340,192,828,4755,12614,22874,3033
4,1964,AL,3407000,53550,7260,46290,316,397,992,5555,15898,26713,3679
5,1965,AL,3462000,55131,6916,48215,395,367,992,5162,16398,28115,3702
6,1966,AL,3517000,61838,8098,53740,384,341,1124,6249,18551,30583,4606
7,1967,AL,3540000,65527,8448,57079,415,371,1167,6495,20227,31682,5170
8,1968,AL,3566000,71285,8288,62997,421,396,1462,6009,22403,34508,6086
9,1969,AL,3531000,75090,8842,66248,485,494,1448,6415,23559,36644,6045

In [60]:
crime = crime.drop(columns=['Unnamed: 0'])

### State Information

In [63]:
state_abr = pd.read_excel("/Users/wuyuyou/Desktop/unifying-data-science-2023-project-ids701_team2/00_source_data/50+States.xlsx")

In [64]:
state_abr

             State Abbr   State Capital     Region
0          Alabama   AL      Montgomery      South
1           Alaska   AK          Juneau       West
2          Arizona   AZ         Phoenix       West
3         Arkansas   AR     Little Rock      South
4       California   CA      Sacramento       West
5         Colorado   CO          Denver       West
6      Connecticut   CT        Hartford  Northeast
7         Delaware   DE           Dover  Northeast
8          Florida   FL     Tallahassee      South
9          Georgia   GA         Atlanta      South
10          Hawaii   HI        Honolulu       West
11           Idaho   ID           Boise       West
12        Illinois   IL     Springfield    Midwest
13         Indiana   IN    Indianapolis    Midwest
14            Iowa   IA      Des Moines    Midwest
15          Kansas   KS          Topeka    Midwest
16        Kentucky   KY       Frankfort      South
17       Louisiana   LA     Baton Rouge      South
18           Maine   ME         Augusta  Northeast
19        Maryland   MD       Annapolis  Northeast
20   Massachusetts   MA          Boston  Northeast
21        Michigan   MI         Lansing    Midwest
22       Minnesota   MN        St. Paul    Midwest
23     Mississippi   MS         Jackson      South
24        Missouri   MO  Jefferson City    Midwest
25         Montana   MT          Helena       West
26        Nebraska   NE         Lincoln    Midwest
27          Nevada   NV     Carson City       West
28   New Hampshire   NH         Concord  Northeast
29      New Jersey   NJ         Trenton  Northeast
30      New Mexico   NM        Santa Fe       West
31        New York   NY          Albany  Northeast
32  North Carolina   NC         Raleigh      South
33    North Dakota   ND        Bismarck    Midwest
34            Ohio   OH        Columbus    Midwest
35        Oklahoma   OK   Oklahoma City      South
36          Oregon   OR           Salem       West
37    Pennsylvania   PA      Harrisburg  Northeast
38    Rhode Island   RI      Providence  Northeast
39  South Carolina   SC        Columbia      South
40    South Dakota   SD          Pierre    Midwest
41       Tennessee   TN       Nashville      South
42           Texas   TX          Austin      South
43            Utah   UT  Salt Lake City       West
44         Vermont   VT      Montpelier  Northeast
45        Virginia   VA        Richmond      South
46      Washington   WA         Olympia       West
47   West Virginia   WV      Charleston      South
48       Wisconsin   WI         Madison    Midwest
49         Wyoming   WY        Cheyenne       West

In [65]:
state_abr.rename(columns={'Abbr': 'State_Abbr'}, inplace=True)
control_df = control_df.merge(state_abr, left_on='state', right_on='State')

In [71]:
control_df.isnull().sum()

state                                     0
Children 0-18                             0
Adults 19-25                              0
Adults 26-34                              0
Adults 35-54                              0
Adults 55-64                              0
65+                                       0
year                                      0
Total People Experiencing Homelessness    0
gdp                                       0
American Indian or Alaska Native          0
Asian or Pacific Islander                 0
Black or African American                 0
White                                     0
gini                                      0
international_migration                   0
unemployment_rate                         0
State                                     0
State_Abbr                                0
State Capital                             0
Region                                    0
dtype: int64

In [72]:
control_df.drop(columns=['State'], inplace=True)

In [74]:
final_df = control_df.merge(crime, left_on=['State_Abbr', 'year'], right_on=['State', 'Year'])

In [75]:
final_df.shape

(579, 33)

In [77]:
final_df.columns

Index(['state', 'Children 0-18', 'Adults 19-25', 'Adults 26-34',
       'Adults 35-54', 'Adults 55-64', '65+', 'year',
       'Total People Experiencing Homelessness', 'gdp',
       'American Indian or Alaska Native', 'Asian or Pacific Islander',
       'Black or African American', 'White', 'gini', 'international_migration',
       'unemployment_rate', 'State_Abbr', 'State Capital', 'Region', 'Year',
       'State', 'Population', 'Index', 'Violent', 'Property', 'Murder', 'Rape',
       'Robbery', 'Aggravated Assault', 'Burglary', 'Larceny-Theft',
       'Vehicle Theft'],
      dtype='object')

In [76]:
final_df.head(10)

,state,Children 0-18,Adults 19-25,Adults 26-34,Adults 35-54,Adults 55-64,65+,year,Total People Experiencing Homelessness,gdp,...,Index,Violent,Property,Murder,Rape,Robbery,Aggravated Assault,Burglary,Larceny-Theft,Vehicle Theft
0,Alabama,0.258,0.095,0.113,0.282,0.118,0.135,2008,5387,174526.3,...,211401,21109,190292,357,1618,7344,11790,50379,126461,13452
1,Alabama,0.257,0.093,0.116,0.277,0.120,0.137,2009,6080,170930.9,...,199201,21194,178007,322,1504,6265,13103,48844,118072,11091
2,Alabama,0.254,0.094,0.113,0.276,0.126,0.138,2010,6046,177249.2,...,187191,18363,168828,275,1355,4864,11869,42484,115564,10780
3,Alabama,0.251,0.094,0.112,0.274,0.129,0.140,2011,5558,183916.6,...,193358,20166,173192,299,1370,4906,13591,51119,111411,10662
4,Alabama,0.249,0.095,0.112,0.270,0.130,0.144,2012,5209,189245.5,...,190571,21693,168878,342,1296,5020,15035,47481,111523,9874
5,Alabama,0.248,0.094,0.113,0.265,0.131,0.149,2013,4689,194786.9,...,182669,20834,161835,346,1449,4645,13788,42410,108862,10563
6,Alabama,0.243,0.094,0.113,0.263,0.133,0.154,2014,4561,197406.9,...,174814,20727,154087,276,1425,4702,13744,39723,104223,10141
7,Alabama,0.243,0.090,0.115,0.261,0.134,0.158,2015,3970,202372.4,...,167742,22957,144785,348,1449,4612,15960,35265,99182,10338
8,Alabama,0.241,0.090,0.115,0.258,0.135,0.161,2016,4111,207368.4,...,169137,25878,143259,407,1915,4687,18869,34045,97498,11716
9,Alabama,0.240,0.091,0.113,0.255,0.136,0.165,2017,3793,214606.3,...,169243,25469,143774,419,2001,4233,18816,31270,99707,12797

In [80]:
final_df['State'].value_counts()

AK    13
AL    12
NV    12
NH    12
NJ    12
NM    12
NY    12
NC    12
ND    12
OH    12
OK    12
OR    12
PA    12
RI    12
SC    12
SD    12
TN    12
TX    12
VT    12
VA    12
WA    12
WV    12
WI    12
NE    12
MT    12
MO    12
MS    12
AZ    12
AR    12
CA    12
CO    12
CT    12
DE    12
FL    12
GA    12
HI    12
ID    12
IL    12
IN    12
IA    12
KY    12
LA    12
ME    12
MD    12
MA    12
MI    12
MN    12
WY    12
UT     2
Name: State, dtype: int64

# TWO MAJOR PROBLEMS
## Crime data 08-19 vs. Control 08-20
### Crime data for **Utah** only till 08