In [1]:
#!pip install xlrd
import pandas as pd
import numpy as np

# Age Percentage

In [2]:
import os
csv_folder = '../00_source_data/age_percentage'
csv_files = [os.path.join(csv_folder, file) for file in sorted(os.listdir(csv_folder)) if file.endswith('.csv')]

In [3]:
combined_age_pct = pd.concat([pd.read_csv(file, header=2, skiprows=[3,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69]) \
    for file in csv_files])

# drop the last two columns
combined_age_pct = combined_age_pct.iloc[:, :-2]

# create the column for year
combined_age_pct['year'] = np.repeat(np.arange(2008, 2022), 51)

# rename the state column
combined_age_pct.rename(columns={'Location': 'state'}, inplace=True)

# make sure col/row number is correct
assert combined_age_pct.shape[0] == 51*14
assert combined_age_pct.shape[1] == 8

combined_age_pct

,state,Children 0-18,Adults 19-25,Adults 26-34,Adults 35-54,Adults 55-64,65+,year
0,Alabama,0.258,0.095,0.113,0.282,0.118,0.135,2008
1,Alaska,0.282,0.113,0.122,0.289,0.120,0.074,2008
2,Arizona,0.279,0.090,0.126,0.266,0.105,0.134,2008
3,Arkansas,0.263,0.090,0.114,0.276,0.117,0.141,2008
4,California,0.272,0.101,0.126,0.288,0.102,0.112,2008
...,...,...,...,...,...,...,...,...
46,Virginia,0.234,0.083,0.119,0.264,0.134,0.167,2021
47,Washington,0.228,0.082,0.136,0.265,0.126,0.163,2021
48,West Virginia,0.212,0.083,0.101,0.252,0.143,0.209,2021
49,Wisconsin,0.228,0.085,0.114,0.249,0.144,0.179,2021
50,Wyoming,0.240,0.085,0.104,0.258,0.132,0.181,2021

# EST Homelessness

In [4]:
csv_folder = '../00_source_data/Estimates_of_Homelessness'
csv_files = [os.path.join(csv_folder, file) for file in sorted(os.listdir(csv_folder)) if file.endswith('.csv')]

In [5]:
combined_homelessness = pd.concat([pd.read_csv(file, header=2, \
    skiprows=[3,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77]) \
    for file in csv_files])

# select the column we need
combined_homelessness = combined_homelessness.loc[:,['Location', 'Total People Experiencing Homelessness']]

# create the column for year
combined_homelessness['year'] = np.repeat(np.arange(2007, 2021), 51)

# rename the state column
combined_homelessness.rename(columns={'Location': 'state'}, inplace=True)

# make sure col/row number is correct
assert combined_homelessness.shape[0] == 51*14
assert combined_homelessness.shape[1] == 3

combined_homelessness

            state  Total People Experiencing Homelessness  year
0         Alabama                                    5452  2007
1          Alaska                                    1642  2007
2         Arizona                                   14646  2007
3        Arkansas                                    3836  2007
4      California                                  138986  2007
..            ...                                     ...   ...
46       Virginia                                    5957  2020
47     Washington                                   22923  2020
48  West Virginia                                    1341  2020
49      Wisconsin                                    4515  2020
50        Wyoming                                     612  2020

[714 rows x 3 columns]

In [10]:
combined_homelessness.isnull().any()

state                                     False
Total People Experiencing Homelessness    False
year                                      False
dtype: bool

# GDP

In [6]:
csv_folder = '../00_source_data/gdp'
csv_files = [os.path.join(csv_folder, file) for file in sorted(os.listdir(csv_folder)) if file.endswith('.csv')]

In [7]:
combined_gdp = pd.concat([pd.read_csv(file, header=0, index_col=0) for file in csv_files], axis=1)

# get the first two strings of the column name
combined_gdp.columns = [col[:2] for col in combined_gdp.columns]
combined_gdp

,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
DATE,,,,,,,,,,,,,,,,,,,,,
1997-01-01,25810.8,104811.9,59846.3,132281.0,1071117.0,136898.7,138331.8,52503.6,33353.4,401535.3,...,19031.4,154382.1,610157.3,57684.0,215101.7,15454.7,193825.9,153431.7,38777.5,14654.5
1998-01-01,24227.5,110212.0,62396.7,143302.6,1147520.4,150330.0,145475.5,54815.3,37106.0,429138.4,...,20228.1,167394.6,645142.6,62296.1,231384.0,16080.7,209741.1,162609.3,40014.6,14840.2
1999-01-01,24744.3,115680.1,66811.3,155755.8,1241899.7,163763.3,152287.5,58819.2,40345.1,458058.9,...,21078.7,176281.9,679870.3,66019.3,249801.1,17176.9,229797.9,172224.1,41714.3,15679.7
2000-01-01,26806.6,119851.7,68678.5,165110.7,1356975.4,180063.2,165614.3,61092.9,43451.3,490429.8,...,22743.3,182247.2,738677.0,70295.9,268470.9,18341.1,237378.2,180427.3,42495.6,17152.5
2001-01-01,28494.1,122915.5,70616.7,171909.6,1375761.3,186695.8,171216.6,65442.9,46096.1,519058.6,...,23412.1,186441.3,773375.5,73057.6,285635.9,19323.2,238418.6,188163.1,43973.3,18708.3
2002-01-01,29756.8,127505.0,74113.9,180522.3,1418429.6,190019.0,173248.3,69919.5,45508.3,553010.3,...,26322.1,195764.3,789817.6,75796.9,295355.7,20273.0,245978.5,194658.8,45580.8,19165.6
2003-01-01,32037.9,134152.6,78695.1,193634.9,1497918.7,196126.5,178702.2,73957.1,47686.1,590483.1,...,27216.1,205126.4,833342.3,78945.4,311665.7,21293.2,255370.2,203339.2,47039.9,21193.6
2004-01-01,35302.4,147715.2,85199.6,206541.1,1588177.4,204167.2,195354.9,80140.1,51353.7,646630.6,...,29271.3,219327.9,913444.4,86081.9,332115.1,22938.2,268378.3,215537.1,49741.4,23429.4
2005-01-01,40356.6,158846.8,90887.7,227915.9,1698560.4,220783.7,205214.6,84867.6,52153.5,705851.9,...,30997.4,231633.5,995252.4,95355.1,358069.7,23608.6,293676.0,227297.0,53492.5,27576.3
2006-01-01,45094.1,166469.0,95875.1,245957.0,1812210.0,232646.7,219768.4,88125.0,55174.4,750523.8,...,32364.5,243583.9,1103197.6,106537.3,376235.7,24331.5,314265.2,237569.3,57010.0,32740.3
2007-01-01,49583.7,172975.2,98381.6,261392.0,1898902.0,248446.5,234540.7,93785.4,56612.8,782712.5,...,35073.0,248692.4,1191093.1,114813.4,391699.8,24797.7,342024.2,245839.5,59273.5,36950.8
2008-01-01,55122.5,174526.3,99706.8,262926.0,1944695.3,258871.7,238936.8,99496.5,55459.8,763341.5,...,36603.0,254242.0,1244294.9,117178.9,404634.9,25999.3,354794.1,246814.5,62694.8,42819.3
2009-01-01,49957.8,170930.9,97508.1,246424.3,1890165.9,251227.7,233290.7,100446.0,57849.7,735421.0,...,36432.9,252332.8,1169607.7,113985.4,410967.4,26099.2,351245.0,247210.0,63600.7,36252.0
2010-01-01,53331.6,177249.2,101486.5,251153.0,1954092.7,258300.2,234700.0,106146.9,58163.5,746928.9,...,37852.5,257776.0,1245959.4,118669.8,426992.4,27406.6,365497.8,256432.9,65998.7,37680.7
2011-01-01,56896.3,183916.6,105768.1,260915.7,2023500.0,267516.1,233158.7,109730.4,61372.2,755240.0,...,41892.1,269814.2,1341334.4,125565.0,435180.3,28418.7,379574.9,266364.4,69234.1,39751.4
2012-01-01,58283.6,189245.5,108492.1,271440.0,2113096.4,276823.1,240911.9,112157.0,62354.6,778545.0,...,43901.5,286341.5,1421180.1,129512.5,445973.6,29241.3,400530.6,277107.1,70322.2,38855.4
2013-01-01,57247.7,194786.9,113227.3,278591.6,2220389.9,292140.5,241517.4,114540.1,61716.2,811751.7,...,45361.0,295862.7,1515195.6,135450.4,457640.5,29289.6,419092.4,284270.9,71481.5,39289.8
2014-01-01,56484.9,197406.9,116139.4,287666.6,2335286.5,309542.6,246597.0,119414.6,68354.7,851692.4,...,46785.4,306153.1,1579299.5,142150.1,465181.8,30099.4,440648.0,295696.0,72648.2,40310.6
2015-01-01,51490.9,202372.4,117786.8,299393.3,2473555.9,320721.1,259487.8,124604.7,71913.9,908519.9,...,48070.2,325294.0,1573498.4,149153.4,483786.5,30933.3,466689.7,307507.9,71318.5,38426.9
2016-01-01,50727.7,207368.4,119152.4,313081.4,2569634.0,329911.7,263670.3,129648.6,69355.0,953352.5,...,49151.4,336413.9,1579014.9,157827.3,496021.1,31661.2,487275.1,314073.3,70924.4,35879.0
2017-01-01,53301.5,214606.3,122466.7,332001.8,2728743.1,349156.5,271443.2,133243.5,68302.5,1003144.0,...,50232.5,350838.7,1673234.3,168649.9,511114.9,32266.1,519409.6,318310.4,74820.1,36980.7
2018-01-01,54899.6,223859.3,127535.7,351879.5,2897200.7,372212.1,279923.0,139722.5,72168.3,1057255.4,...,52299.3,363055.5,1809396.7,184457.5,532906.5,33066.8,564313.9,332498.6,79192.9,39171.7
2019-01-01,54728.2,231561.9,131578.3,372393.5,3042694.1,394534.7,288536.3,143990.8,76923.7,1111392.2,...,54001.3,380128.5,1858757.8,196538.9,557764.4,34230.8,595231.8,345236.4,79325.6,39428.0
2020-01-01,50475.2,230892.1,133969.1,382072.3,3020173.4,391263.3,276223.3,144720.0,75818.6,1116726.8,...,55681.2,379007.1,1789933.4,202133.4,556992.6,34018.6,612969.1,340591.1,76547.9,36330.4
2021-01-01,57349.4,254109.7,148676.1,420026.7,3373240.7,436359.5,298395.2,153670.5,81160.0,1255558.3,...,61684.7,427125.5,2051768.6,225340.3,604957.6,37103.8,677489.5,368611.3,85434.2,41510.2
2022-01-01,63618.0,277817.5,165220.6,458949.8,3598102.7,484371.5,321844.6,162314.4,87524.8,1389069.7,...,67570.7,475755.1,2355959.7,248176.3,649392.6,40617.1,725513.5,401791.5,95588.4,47432.5

In [8]:
# convert the columns to rows
combined_gdp = combined_gdp.stack().reset_index()
combined_gdp.columns = ['year', 'state', 'gdp']
combined_gdp

            year state        gdp
0     1997-01-01    AK    25810.8
1     1997-01-01    AL   104811.9
2     1997-01-01    AR    59846.3
3     1997-01-01    AZ   132281.0
4     1997-01-01    CA  1071117.0
...          ...   ...        ...
1321  2022-01-01    VT    40617.1
1322  2022-01-01    WA   725513.5
1323  2022-01-01    WI   401791.5
1324  2022-01-01    WV    95588.4
1325  2022-01-01    WY    47432.5

[1326 rows x 3 columns]

In [9]:
combined_gdp.isnull().any()

year     False
state    False
gdp      False
dtype: bool

In [11]:
# read state abbreviations
state_abbrev = pd.read_csv('../00_source_data/state_abbr.csv')
state_abbrev.head()

        state  abbrev code
0     Alabama    Ala.   AL
1      Alaska  Alaska   AK
2     Arizona   Ariz.   AZ
3    Arkansas    Ark.   AR
4  California  Calif.   CA

In [78]:
# map the state abbreviation to the full name
combined_gdp['state'] = combined_gdp['state'].map(state_abbrev.set_index('code')['state'])

# slice the year
combined_gdp['year'] = combined_gdp['year'].str.slice(0,4).astype(int)

# make sure col/row number is correct
assert combined_gdp.shape[0] == 51*26
assert combined_gdp.shape[1] == 3

combined_gdp

      year          state        gdp
0     1997         Alaska    25810.8
1     1997        Alabama   104811.9
2     1997       Arkansas    59846.3
3     1997        Arizona   132281.0
4     1997     California  1071117.0
...    ...            ...        ...
1321  2022        Vermont    40617.1
1322  2022     Washington   725513.5
1323  2022      Wisconsin   401791.5
1324  2022  West Virginia    95588.4
1325  2022        Wyoming    47432.5

[1326 rows x 3 columns]

In [12]:
combined_gdp.isnull().any()

year     False
state    False
gdp      False
dtype: bool

# Race population

In [79]:
# # set the file paths
# input_file = '../00_source_data/Bridged-Race Population Estimates 1990-2020.txt'
# output_file = '../00_source_data/race_pop_clean.txt'
# word_to_delete = 'Total'

# # open the input and output files
# with open(input_file, 'r') as f_input, open(output_file, 'w') as f_output:
#     # loop through the lines in the input file
#     for line in f_input:
#         # check if the word is present in the line
#         if word_to_delete not in line:
#             # write the line to the output file if the word is not present
#             f_output.write(line)

In [14]:
race_pop = pd.read_table('../00_source_data/race_pop_clean.txt', sep='\t', header=0)
race_pop = race_pop.loc[:, ['State','Race','Yearly July 1st Estimates','Population']]
race_pop.columns = ['state', 'race', 'year', 'population']
race_pop

        state                              race  year  population
0     Alabama  American Indian or Alaska Native  1990       16224
1     Alabama  American Indian or Alaska Native  1991       17015
2     Alabama  American Indian or Alaska Native  1992       17357
3     Alabama  American Indian or Alaska Native  1993       18002
4     Alabama  American Indian or Alaska Native  1994       18566
...       ...                               ...   ...         ...
6319  Wyoming                             White  2016      550670
6320  Wyoming                             White  2017      545133
6321  Wyoming                             White  2018      543620
6322  Wyoming                             White  2019      544567
6323  Wyoming                             White  2020      546461

[6324 rows x 4 columns]

In [15]:
# convert row to columns
race_pop_pivot = race_pop.pivot(index=['year', 'state'], columns='race', values='population')

# reset the index
race_pop_pivot.reset_index(inplace=True, drop=False)
race_pop_pivot.rename_axis(None, axis=1, inplace=True)
race_pop_pivot

,year,state,American Indian or Alaska Native,Asian or Pacific Islander,Black or African American,White
0,1990,Alabama,16224,21869,1024198,2987764
1,1990,Alaska,87214,20135,22665,423276
2,1990,Arizona,215940,59175,115796,3293186
3,1990,Arkansas,12356,12249,375370,1956611
4,1990,California,290666,2992240,2322371,24354238
...,...,...,...,...,...,...
1576,2020,Virginia,54040,671362,1801495,6063666
1577,2020,Washington,179917,893265,430125,6190305
1578,2020,West Virginia,4797,17696,75782,1686512
1579,2020,Wisconsin,78876,197416,435275,5121088
1580,2020,Wyoming,18038,7858,9971,546461

In [16]:
race_pop_pivot.isnull().any()

year                                False
state                               False
American Indian or Alaska Native    False
Asian or Pacific Islander           False
Black or African American           False
White                               False
dtype: bool

## Income Equality

Due to covid, dataset for 2020 is separately downloaded from census bereau.

In [17]:
income_inequality_no_2020 = pd.read_csv('../00_source_data/Income inequality (Gini Coefficient).csv', header=4)

# select relevant columns and rows
income_inequality_no_2020 = income_inequality_no_2020[income_inequality_no_2020['Fips'] != 'US']
income_inequality_no_2020 = income_inequality_no_2020.loc[:, ['Location', 'TimeFrame', 'Data']]
income_inequality_no_2020.columns = ['state', 'year', 'gini']
income_inequality_no_2020.reset_index(drop=True, inplace=True)
income_inequality_no_2020

       state  year    gini
0    Alabama  2006  0.4700
1    Alabama  2007  0.4700
2    Alabama  2008  0.4700
3    Alabama  2009  0.4700
4    Alabama  2010  0.4700
..       ...   ...     ...
760  Wyoming  2016  0.4360
761  Wyoming  2017  0.4326
762  Wyoming  2018  0.4555
763  Wyoming  2019  0.4345
764  Wyoming  2021  0.4638

[765 rows x 3 columns]

In [18]:
income_inequality_2020 = pd.read_csv('../00_source_data/Income inequality (Gini Coefficient)_2020.csv', encoding='iso-8859-1')

# select even rows
income_inequality_2020 = income_inequality_2020.iloc[::2, :]
income_inequality_2020 = income_inequality_2020.iloc[:-1, :] 
income_inequality_2020['Label (Grouping)'] = income_inequality_2020['Label (Grouping)'].str.split('!').str[0]
income_inequality_2020['year'] = 2020
income_inequality_2020.columns = ['state', 'gini', 'year']
# switch gini and year
income_inequality_2020 = income_inequality_2020[['state', 'year', 'gini']]
income_inequality_2020.reset_index(drop=True, inplace=True)
income_inequality_2020

                   state  year    gini
0                Alabama  2020  0.4777
1                 Alaska  2020   0.423
2                Arizona  2020  0.4661
3               Arkansas  2020  0.4792
4             California  2020  0.4874
5               Colorado  2020  0.4565
6            Connecticut  2020  0.4965
7               Delaware  2020  0.4568
8   District of Columbia  2020  0.5212
9                Florida  2020  0.4856
10               Georgia  2020  0.4814
11                Hawaii  2020  0.4414
12                 Idaho  2020  0.4422
13              Illinois  2020  0.4801
14               Indiana  2020  0.4502
15                  Iowa  2020  0.4405
16                Kansas  2020  0.4561
17              Kentucky  2020  0.4776
18             Louisiana  2020  0.4991
19                 Maine  2020  0.4493
20              Maryland  2020  0.4526
21         Massachusetts  2020  0.4826
22              Michigan  2020  0.4655
23             Minnesota  2020  0.4491
24           Mississippi  2020  0.4838
25              Missouri  2020  0.4634
26               Montana  2020  0.4611
27              Nebraska  2020  0.4432
28                Nevada  2020  0.4638
29         New Hampshire  2020  0.4404
30            New Jersey  2020  0.4788
31            New Mexico  2020  0.4742
32              New York  2020  0.5127
33        North Carolina  2020  0.4759
34          North Dakota  2020  0.4508
35                  Ohio  2020  0.4646
36              Oklahoma  2020  0.4673
37                Oregon  2020  0.4579
38          Pennsylvania  2020  0.4702
39          Rhode Island  2020  0.4661
40        South Carolina  2020   0.477
41          South Dakota  2020  0.4413
42             Tennessee  2020  0.4775
43                 Texas  2020  0.4765
44                  Utah  2020  0.4245
45               Vermont  2020  0.4485
46              Virginia  2020  0.4735
47            Washington  2020  0.4574
48         West Virginia  2020  0.4661
49             Wisconsin  2020  0.4448
50               Wyoming  2020  0.4393

In [19]:
# combine the two dataframes
income_inequality = pd.concat([income_inequality_no_2020, income_inequality_2020], axis=0)
income_inequality.sort_values(by=['state', 'year'], inplace=True)
income_inequality.reset_index(drop=True, inplace=True)
income_inequality

       state  year    gini
0    Alabama  2006    0.47
1    Alabama  2007    0.47
2    Alabama  2008    0.47
3    Alabama  2009    0.47
4    Alabama  2010    0.47
..       ...   ...     ...
811  Wyoming  2017  0.4326
812  Wyoming  2018  0.4555
813  Wyoming  2019  0.4345
814  Wyoming  2020  0.4393
815  Wyoming  2021  0.4638

[816 rows x 3 columns]

In [20]:
income_inequality.isnull().any()

state    False
year     False
gini     False
dtype: bool

# Immigration

In [21]:
nst_2000_2009 = pd.read_csv('../00_source_data/immigration/nst_est2009_alldata.csv', skiprows=[1,2,3,4,5,57], header=0)
nst_2010_2020 = pd.read_csv('../00_source_data/immigration/nst-est_2010-2020-alldata.csv', skiprows=[1,2,3,4,5,57], header=0)

In [22]:
# select relevant columns
state_name = nst_2010_2020['NAME']
img_2000_2009 = nst_2000_2009.loc[:, nst_2000_2009.columns.str.startswith('INTERNATIONALMIG')]
img_2010_2020 = nst_2010_2020.loc[:, nst_2010_2020.columns.str.startswith('INTERNATIONALMIG')]

# combine the three dataframes
img_2000_2020 = pd.concat([state_name, img_2000_2009, img_2010_2020], axis=1)
img_2000_2020.rename(columns={'NAME':'state'}, inplace=True)
img_2000_2020

,state,INTERNATIONALMIG2000,INTERNATIONALMIG2001,INTERNATIONALMIG2002,INTERNATIONALMIG2003,INTERNATIONALMIG2004,INTERNATIONALMIG2005,INTERNATIONALMIG2006,INTERNATIONALMIG2007,INTERNATIONALMIG2008,...,INTERNATIONALMIG2011,INTERNATIONALMIG2012,INTERNATIONALMIG2013,INTERNATIONALMIG2014,INTERNATIONALMIG2015,INTERNATIONALMIG2016,INTERNATIONALMIG2017,INTERNATIONALMIG2018,INTERNATIONALMIG2019,INTERNATIONALMIG2020
0,Alabama,1429,5776,5141,3642,6282,5766,6486,5492,5409,...,5162,6282,5494,4159,5095,6301,3546,3940,2293,2078
1,Alaska,537,1103,174,-1772,2334,1042,1797,874,1197,...,1442,2482,2995,1343,2417,2442,2792,742,1232,1078
2,Arizona,8256,33284,31674,26714,29375,30416,31084,27579,27031,...,17104,15673,18580,21867,20141,20694,13662,8180,11618,9272
3,Arkansas,1092,4555,4130,3154,4186,4002,4336,3719,3642,...,4010,4017,2627,3424,3620,3700,2503,1052,1668,1517
4,California,66733,254983,230640,182299,193722,191179,194309,169995,167173,...,96569,95561,113526,127975,153571,138763,109976,68369,33553,28803
5,Colorado,6143,21255,18208,12966,16307,14710,15640,13306,13248,...,13093,11747,9510,10182,13926,10146,8839,11306,3576,3118
6,Connecticut,3946,14606,13440,10955,11551,11533,12932,11260,11391,...,13189,16211,11331,18386,16726,14624,14779,18949,10290,9387
7,Delaware,649,2305,2098,1522,2274,2157,2410,2035,2057,...,1675,1352,2504,1901,2402,1834,1714,670,1447,1217
8,District of Columbia,1067,3710,3176,2325,2627,2366,2508,2170,2134,...,2666,3610,4980,5460,5298,3710,3855,3055,2751,2143
9,Florida,26734,103065,96939,80691,89688,91201,100206,87534,87821,...,102343,100592,105369,114339,134725,157803,161644,132690,88787,78072
10,Georgia,10459,37786,32813,21922,33490,30180,32923,27365,27714,...,12560,22454,23207,17777,26234,35276,21846,17766,16252,13275
11,Hawaii,2045,5490,3180,-1544,7190,4382,5947,3772,4456,...,7437,10284,5873,4071,7434,9792,4814,4537,2778,2187
12,Idaho,719,2919,2548,1794,2598,2388,2578,2191,2207,...,1813,1756,2039,1589,3294,3618,1822,463,758,678
13,Illinois,15853,60050,53538,41903,42088,40789,41584,36453,35881,...,30893,27408,27738,28923,30358,24566,30046,20899,13235,11164
14,Indiana,2867,11573,11073,9826,9705,10173,10401,9445,9110,...,9401,11135,9194,10133,8389,13904,9312,15414,10913,8743
15,Iowa,1377,5594,4951,4001,3703,3538,3619,3267,3090,...,6447,4314,7202,7093,5701,6003,6196,3089,6921,5511
16,Kansas,2100,7379,6080,3527,6509,5514,6137,5009,5130,...,5133,6323,6080,6873,9413,7913,2531,4307,3016,2483
17,Kentucky,1535,5531,4471,2003,6056,5006,5822,4535,4757,...,5548,8316,9326,5447,7900,7550,6464,1490,2538,2210
18,Louisiana,1221,4134,3122,792,4885,3722,4582,3436,3676,...,7235,4649,6562,5096,6523,6770,3724,3747,6070,4928
19,Maine,271,1025,809,291,1171,894,1089,817,884,...,1265,656,1910,3172,770,2118,774,1024,2057,1605
20,Maryland,5893,22150,20636,16014,22079,21818,23279,20013,19815,...,21160,26172,21774,23752,27935,22015,23450,16629,16757,13078
21,Massachusetts,7988,30635,29139,25569,24522,25786,27691,24781,24516,...,34360,38843,37447,44485,40816,44834,48583,37740,30022,25247
22,Michigan,5791,23765,21880,18490,17099,17369,17596,15900,15332,...,22175,24499,23793,23685,21766,28244,21372,14012,9228,7753
23,Minnesota,3437,14146,13263,11466,10875,11329,11449,10387,9970,...,12203,11609,11388,16291,16783,16581,11352,10089,9317,7360
24,Mississippi,630,2149,1366,-485,3143,2079,2796,1866,2089,...,2450,2310,2082,2922,3496,1124,2641,2089,730,787
25,Missouri,2340,8533,7307,4644,7733,6849,7498,6117,6266,...,9118,7165,6101,6917,9806,6232,8714,6373,6657,5360
26,Montana,116,435,218,-190,570,367,491,317,374,...,617,535,1862,817,798,1026,1106,435,1277,990
27,Nebraska,1253,4403,3788,2590,3749,3357,3633,3103,3043,...,2255,3319,3241,5133,4195,6024,4822,3478,2220,1837
28,Nevada,3291,13403,12778,10844,11953,12387,12730,11305,11021,...,1101,3660,4534,3893,6468,2866,2951,-697,5814,4562
29,New Hampshire,624,2319,2184,1838,1899,1966,2097,1852,1807,...,3078,3442,2734,3034,4102,3995,2763,2570,2842,2313
30,New Jersey,14542,54557,50551,42990,40207,41207,42691,38252,37446,...,34483,27902,28778,30103,41337,38908,45043,27118,23880,19674
31,New Mexico,1534,5648,5039,3552,5734,5347,5801,4888,4972,...,4176,3810,5710,1913,3874,2609,2251,1623,3334,2687
32,New York,31615,122547,111275,92178,83938,84086,86351,77136,75365,...,87332,90304,78010,84452,84301,88805,69336,57774,41869,35181
33,North Carolina,9809,29818,23460,9613,29177,23173,26441,20041,21830,...,10843,22624,20169,18908,22402,21565,21393,16207,16329,13387
34,North Dakota,258,651,264,-545,1025,535,815,461,583,...,1209,1295,1254,961,2247,1589,2875,1247,634,577
35,Ohio,3726,15267,14227,11965,12745,12936,13752,12136,11863,...,15512,18352,24896,21553,25327,25041,20084,14101,15768,13303
36,Oklahoma,2082,7125,5670,2532,7289,5885,6837,5231,5523,...,7029,6906,5987,6760,9593,8011,4850,4875,3325,2821
37,Oregon,3621,13459,12400,10444,9726,9833,9890,8918,8594,...,10740,4676,3706,7240,5616,13081,8316,3592,2272,1908
38,Pennsylvania,5420,20619,19814,17300,17923,18806,21040,18576,18520,...,28385,26413,30378,35522,32725,38966,32239,32997,14722,14523
39,Rhode Island,1022,3589,3325,2705,3206,3163,3630,3134,3147,...,4585,4507,3938,3607,4654,4242,2282,4631,1295,1193
40,South Carolina,2416,7494,5917,1572,9720,7940,9250,6856,7439,...,3404,6470,5742,6936,7986,5811,6493,6869,7353,6023
41,South Dakota,231,873,654,241,909,731,850,671,697,...,1369,2242,228,1189,1734,3337,3846,638,2334,1856
42,Tennessee,2761,10607,9763,7382,10724,10455,11196,9538,9608,...,9350,8627,10586,8250,10702,8066,9540,10424,3777,3280
43,Texas,33061,126597,114199,88034,102575,99134,103276,89396,88695,...,69106,84838,79571,106776,117265,110382,96215,69138,66791,54650
44,Utah,2505,9593,8511,6674,6963,6709,6967,6111,5971,...,2900,5272,3545,5513,4148,7669,9255,6112,2616,2189
45,Vermont,206,816,687,514,530,461,504,445,417,...,1295,337,432,390,2251,758,1919,551,635,542
46,Virginia,8276,26916,19314,3932,31325,22379,28380,20740,22029,...,23466,37768,26352,35428,39097,36646,33741,17189,25830,20721
47,Washington,7172,25865,22669,15521,24236,22435,24135,20121,20332,...,20171,22202,19729,30898,33108,29102,30495,23605,23434,18301
48,West Virginia,130,764,642,442,676,602,686,595,540,...,2133,1133,885,1238,1476,1290,592,54,1185,996
49,Wisconsin,2318,9234,8630,7386,7203,7374,7739,6921,6744,...,4390,6073,8235,7986,9310,8141,8239,6011,4466,4287
50,Wyoming,125,435,239,-144,613,388,527,335,399,...,-85,609,594,-127,860,530,795,708,173,174

In [23]:
# convert columns into rows
img_2000_2020 = img_2000_2020.melt(id_vars=['state'], var_name='year', value_name='international_migration')

# get the last four digits of the year
img_2000_2020['year'] = img_2000_2020['year'].str.slice(-4).astype(int)
img_2000_2020

              state  year  international_migration
0           Alabama  2000                     1429
1            Alaska  2000                      537
2           Arizona  2000                     8256
3          Arkansas  2000                     1092
4        California  2000                    66733
...             ...   ...                      ...
1066       Virginia  2020                    20721
1067     Washington  2020                    18301
1068  West Virginia  2020                      996
1069      Wisconsin  2020                     4287
1070        Wyoming  2020                      174

[1071 rows x 3 columns]

# Unemployment rate

In [24]:
ur = pd.read_csv('../00_source_data/Unemployment rate by Total.csv', header=4)
# select relevant columns and rows
ur = ur[ur['Fips'] != 'US']
ur = ur.loc[:, ['Location', 'TimeFrame', 'Data']]
ur.columns = ['state', 'year', 'unemployment_rate']
ur.reset_index(drop=True, inplace=True)
ur

        state  year  unemployment_rate
0     Alabama  2000              0.041
1     Alabama  2001              0.047
2     Alabama  2002              0.054
3     Alabama  2003              0.054
4     Alabama  2004              0.050
...       ...   ...                ...
1168  Wyoming  2018              0.041
1169  Wyoming  2019              0.036
1170  Wyoming  2020              0.058
1171  Wyoming  2021              0.045
1172  Wyoming  2022              0.036

[1173 rows x 3 columns]

# Merge to df

In [89]:
# select relevant years and merge to the main dataframe
age_pct_08_20 = combined_age_pct.loc[combined_age_pct['year'].between(2008, 2020, inclusive='both'), :]
homelessness_08_20 = combined_homelessness.loc[combined_homelessness['year'].between(2008, 2020, inclusive='both'), :]
gdp_08_20 = combined_gdp.loc[combined_gdp['year'].between(2008, 2020, inclusive='both'), :]
race_pop_08_20 = race_pop_pivot.loc[race_pop_pivot['year'].between(2008, 2020, inclusive='both'), :]
income_inequality_08_20 = income_inequality.loc[income_inequality['year'].between(2008, 2020, inclusive='both'), :]
img_08_20 = img_2000_2020.loc[img_2000_2020['year'].between(2008, 2020, inclusive='both'), :]
ur_08_20 = ur.loc[ur['year'].between(2008, 2020, inclusive='both'), :]

In [97]:
# create a list of dataframes
dfs = [age_pct_08_20, homelessness_08_20, gdp_08_20, race_pop_08_20, income_inequality_08_20, img_08_20, ur_08_20]

# initialize the merged dataframe with the first dataframe
merged_df = dfs[0]

# loop through the remaining dataframes and merge with the merged dataframe
for i in range(1, len(dfs)):
    merged_df = pd.merge(merged_df, dfs[i], on=['state', 'year'], how='left')

In [100]:
merged_df

,state,Children 0-18,Adults 19-25,Adults 26-34,Adults 35-54,Adults 55-64,65+,year,Total People Experiencing Homelessness,gdp,American Indian or Alaska Native,Asian or Pacific Islander,Black or African American,White,gini,international_migration,unemployment_rate
0,Alabama,0.258,0.095,0.113,0.282,0.118,0.135,2008,5387,174526.3,33518,58975,1259177,3366536,0.47,5409,0.050
1,Alaska,0.282,0.113,0.122,0.289,0.120,0.074,2008,1646,55122.5,117376,46039,30075,493965,0.4,1197,0.064
2,Arizona,0.279,0.090,0.126,0.266,0.105,0.134,2008,12488,262926.0,346539,209252,294617,5429954,0.45,27031,0.060
3,Arkansas,0.263,0.090,0.114,0.276,0.117,0.141,2008,3255,99706.8,27242,42091,458375,2346846,0.46,3642,0.054
4,California,0.272,0.101,0.126,0.288,0.102,0.112,2008,136531,1944695.3,669667,5281970,2662354,27990346,0.47,167173,0.072
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,Virginia,0.232,0.089,0.124,0.268,0.133,0.153,2020,5957,556992.6,54040,671362,1801495,6063666,0.4735,20721,0.062
659,Washington,0.229,0.087,0.142,0.268,0.128,0.146,2020,22923,612969.1,179917,893265,430125,6190305,0.4574,18301,0.084
660,West Virginia,0.209,0.076,0.114,0.256,0.139,0.206,2020,1341,76547.9,4797,17696,75782,1686512,0.4661,996,0.083
661,Wisconsin,0.221,0.069,0.139,0.249,0.160,0.162,2020,4515,340591.1,78876,197416,435275,5121088,0.4448,4287,0.063
662,Wyoming,0.245,0.087,0.130,0.226,0.127,0.186,2020,612,36330.4,18038,7858,9971,546461,0.4393,174,0.058

In [99]:
# write to csv
merged_df.to_csv('../20_intermediate_files/control_variables_cleaned.csv', index=False)